{% extends 'web/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<br>
<!-- Heading -->
<div class="text-uppercase text-center u-heading-v2-4--bottom g-brd-primary">
    <h4 class="g-line-height-1 g-font-weight-700 g-font-size-18 g-color-primary g-mb-20">Dashboard</h4>
    <h2 class="u-heading-v2__title g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1">
        Welcome to dashboard.</h2>
</div>
<br>
<!-- End Heading -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-5">
            <div class="thumbnail-img">
                <!-- <img src="#" style="width: 200px; height:200px;" title="img_title"> -->
            </div>

            <ul role="tablist" id="tabmenu" class="nav-refresh nav-tabs-refresh list-group">
                <li class="list-group-item"><a href="#junkiri" aria-controls="junkiri" role="tab" data-toggle="tab"> Add
                        Junkiri </a></li>
                <li class="list-group-item"><a href="#venue" aria-controls="venue" role="tab" data-toggle="tab">
                        Add Venue </a></li>
                <li class="list-group-item"><a href="#event" aria-controls="event" role="tab" data-toggle="tab">
                        Create Event </a></li>

            </ul>
        </div>
        <div class="col-md-8 col-sm-7">
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="junkiri">
                    {% include 'web/junkiri_form.html' %}
                </div>

                <div role="tabpanel" class="tab-pane " id="event">
                    {% include 'event/event_create.html' %}

                </div>

                <div role="tabpanel" class="tab-pane " id="venue">
                    {% include 'event/venue_create.html' %}
                </div>

            </div>
        </div>
    </div>

</div>




</div>

{% endblock %}