{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>New Zenith Alumuni Association</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,700%7CAlegreya:400" rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">

  <!-- CSS Implementing Plugins -->

  <link rel="stylesheet" href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/icon-line-pro/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/icon-hs/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/icon-material/material-icons.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'assets/vendor/animate.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/jquery.fancybox.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- CSS Unify Theme -->
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

<!-- Event css -->
  <link rel="stylesheet" href="{% static 'assets/css/event.css' %}">

  <!-- Carousel -->
  <link rel="stylesheet" href="{% static 'assets/css/carousel.css' %}">


  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 70%;
    }
  </style>


</head>

<body>
  <main>
    {% include 'web/nav.html' %}
    {% block content %}
    {% endblock %}
    {% include 'web/footer.html' %}

    <!-- Go to Top -->
    <a class="js-go-to u-go-to-v1 u-shadow-v32 g-width-40 g-height-40 g-color-primary g-color-white--hover g-bg-white g-bg-main--hover g-bg-main--focus g-font-size-12 rounded-circle"
      href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="slideInUp" data-hide-effect="slideInDown">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
    <!-- End Go to Top -->
  </main>

  <!-- The Modal -->
  <div class="modal fade" id="mysignout">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Signout</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {% include 'account/logout.html' %}
        </div>

      </div>
    </div>
  </div>

  <!-- JS Global Compulsory -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'assets/vendor/popper.js/popper.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>


  <!-- carousel JS -->

  <script src="{% static 'assets/js/carousel.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <!-- <script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>
  <script src="{% static 'assets/vendor/fancybox/jquery.fancybox.min.js' %}"></script> -->

  <!-- JS Unify -->
  <!-- <script src="{% static 'assets/js/hs.core.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
  <script src="{% static 'assets/js/helpers/hs.hamburgers.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.dropdown.js' %}"></script>
  <script src="{% static 'assets/js/helpers/hs.height-calc.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.carousel.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.popup.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script> -->

  <!-- JS Customization -->
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <script>
    $(document).ready(function () {
      // Activate Carousel
      $("#myCarousel").carousel();

      // Enable Carousel Indicators
      $(".item1").click(function () {
        $("#myCarousel").carousel(0);
      });
      $(".item2").click(function () {
        $("#myCarousel").carousel(1);
      });
      $(".item3").click(function () {
        $("#myCarousel").carousel(2);
      });

      // Enable Carousel Controls
      $(".carousel-control-prev").click(function () {
        $("#myCarousel").carousel("prev");
      });
      $(".carousel-control-next").click(function () {
        $("#myCarousel").carousel("next");
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      // Activate Carousel
      $("#teamCarousel").carousel();

      // Enable Carousel Indicators
      $(".item1").click(function () {
        $("#teamCarousel").carousel(0);
      });
      $(".item2").click(function () {
        $("#teamCarousel").carousel(1);
      });
      $(".item3").click(function () {
        $("#teamCarousel").carousel(2);
      });

      // Enable Carousel Controls
      $(".carousel-control-prev").click(function () {
        $("#teamCarousel").carousel("prev");
      });
      $(".carousel-control-next").click(function () {
        $("#teamCarousel").carousel("next");
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $('#myModal').modal();
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#mysignoutbtn").click(function () {
        $("#mysignout").modal();
      });
    });
  </script>

  <script type="text/javascript">

    var hash = window.location.hash;
    $('#tabmenu a[href="' + hash + '"]').tab('show');
    location.hash = "#" + hash;
    $(function () {
      var hash = window.location.hash;
      hash && $('ul.nav-refresh a[href="' + hash + '"]').tab('show');

      $('.nav-tabs-refresh a').click(function (e) {
        $(this).removeClass('active')
        $(this).tab('show');
        var scrollmem = $('body').scrollTop() || $('html').scrollTop();
        window.location.hash = this.hash;
        $('html,body').scrollTop(scrollmem);
      });
    });
  </script>
</body>

</html>