
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
     
        <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Add Articles</h2>
        </div>
        <form action='{% url "junkiri_create" %}' method="post" enctype='multipart/form-data'>{% csrf_token %}
                <div class="row">
                        <div class="col-sm-12">{% bootstrap_field form.photo %}</div>

                </div>
                <div class="row">
                        <div class="col-sm-4">{% bootstrap_field form.author_name %}</div>
                        <div class="col-sm-4">{% bootstrap_field form.post_title %}</div>
                        <div class="col-sm-4"> {% bootstrap_field form.batch %}</div>
                </div>
                <div class="row">
                        <div class="col-sm-12">
                                {% bootstrap_field form.quote %}
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-6">{% bootstrap_field form.is_starring %}
                                {% bootstrap_field form.publish %}</div>
                </div>
                <div class="row">
                        <div class="col-sm-6">
                                {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
                        </div>
                </div>

        </form><br>
</div>
{% endblock %}