{% extends 'web/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div style='text-align: center;'>
        <img class="junkiri_logo" src="{% static 'assets/img/logo/junkiri-logo.jpg' %}">
    </div>
    <div class="row">
        <!-- Articles Content -->
        <div class="col-lg-9 g-mb-50 g-mb-0--lg">
            <article class="g-mb-60">
                <header class="g-mb-30">
                    <h2 class="h1 g-mb-15">{{Junkiri.post_title}}</h2>

                    <ul class="list-inline d-sm-flex g-color-gray-dark-v4 mb-0">
                        <li class="list-inline-item">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                                href="#!">{{Junkiri.author_name}}</a>
                        </li>
                        <li class="list-inline-item g-mx-10">/</li>
                        <li class="list-inline-item">
                            {{Junkiri.post_dt}}
                        </li>
                    </ul>

                    <hr class="g-brd-gray-light-v4 g-my-15">

                    <ul class="list-inline text-uppercase mb-0">
                        <li class="list-inline-item g-mr-10">
                            <a class="btn u-btn-facebook g-font-size-12 rounded g-px-20--sm g-py-10" href="#!">
                                <i class="fa fa-facebook g-mr-5--sm"></i> <span class="g-hidden-xs-down">Share on
                                    Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item g-mr-10">
                            <a class="btn u-btn-twitter g-font-size-12 rounded g-px-20--sm g-py-10" href="#!">
                                <i class="fa fa-twitter g-mr-5--sm"></i> <span class="g-hidden-xs-down">Tweet on
                                    Twitter</span>
                            </a>
                        </li>
                    </ul>
                </header>

                <div class="g-font-size-16 g-line-height-1_8 g-mb-30">
                    <figure class="u-shadow-v25 g-mb-30">
                        {% if Junkiri.photo %}
                        <img class="img-fluid w-100" src="{{ Junkiri.photo.url }}" alt="Image Description">
                        {% endif %}
                    </figure>

                    <p class="g-color-gray-dark-v2">{{Junkiri.quote|safe}}</p>

                    
                </div>
            </article>

            <div id="stickyblock-end"></div>
        </div>
        <!-- End Articles Content -->

        <!-- Sidebar -->
        <div class="col-lg-3">

            <!-- Recent Posts -->
            <div class="g-mb-30">
                <div class="u-heading-v3-1 g-mb-30">
                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Recent
                        Posts
                    </h2>
                </div>

                <!-- Article -->
                {% for latest in recent_posts %}
                <article class="media g-mb-30">
                    <a class="d-flex u-shadow-v25 mr-3" href="{% url 'junkiri-detail' latest.id %}">
                        {% if latest.photo %}
                        <img class="g-width-60 g-height-60" src="{{latest.photo.url}}" alt="Image Description">
                        {% endif %}
                    </a>

                    <div class="media-body">
                        <h3 class="h6">
                            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover"
                                href="#!">{{ latest.quote|truncatechars:30|safe }}</a>
                        </h3>

                        <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                            <li class="list-inline-item">
                                {{latest.post_dt}}
                            </li>
                        </ul>
                    </div>
                </article>
                {% endfor %}
                <!-- End Article -->
            </div>
            <!-- End Recent Posts -->


            <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg g-pt-20"
                data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">

                <!-- Top Authors -->
                <div class="g-mb-40">
                    <div class="u-heading-v3-1 g-mb-30">
                        <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Top
                            Authors
                        </h2>
                    </div>
                    <h2>Unavailable</h2>
                    <!-- <article class="media g-mb-35">
                        <img class="d-flex u-shadow-v25 g-width-40 g-height-40 rounded-circle mr-3"
                            src="assets/img-temp/100x100/img1.jpg" alt="Image Description">
                        <div class="media-body">
                            <h4 class="g-font-size-16">
                                <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover"
                                    href="#!">Htmlstream</a> <small class="g-color-gray-dark-v4">@Htmlstream</small>
                            </h4>
                            <p class="g-color-gray-dark-v2">Sed ultrices velit vitae tortor posuere and dial in the
                                details.</p>
                            <a class="btn u-btn-outline-primary g-font-size-11 text-uppercase" href="#!">Follow</a>
                        </div>
                    </article> -->
                </div>
                <!-- End Top Authors -->
            </div>
        </div>
        <!-- End Sidebar -->

    </div>
    <div class="row">
        <div class="text-center g-width-70x--md mx-auto g-my-40">
            <h3 class="text-uppercase g-color-primary">If you can achieve one thing, you can achieve
                everything. Just believe it.</h3>
        </div>
        <div class="col-lg-12">
            <div class="g-mb-40">
                <div class="u-heading-v3-1 g-mb-30">
                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Related
                        Articles</h2>
                </div>

                <div class="row">
                    {% for latest in recent_posts %}
                    <!-- Article Video -->
                    <div class="col-lg-4 col-sm-6 g-mb-30">
                        <div class="card u-shadow-v25" style="min-height: 320px; max-width: 320px;">
                            {% if Junkiri.photo %}
                            <img class="card-img-top img-fluid w-100" src="{{latest.photo.url}}" alt="Card image"
                                style="width:100%">
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ latest.author_name }}</h4>
                                <p class="card-text">{{ latest.post_title|truncatechars:30 }}</p>
                                <figcaption class="g-pos-abs g-bottom-10 g-right-10">
                                    <a class="btn btn-primary btn-xs text-uppercase"
                                        href="{% url 'junkiri-detail' latest.id %}">View</a>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                    <!-- End Article Video -->
                    {% endfor %}
                </div>

            </div>

            <!-- Comments -->
            <div class="g-mb-60">
                <div class="u-heading-v3-1 g-mb-30">
                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Comments
                    </h2>
                </div>

                <!-- Comment 1 -->
                <h2>Unavailable</h2>
                <!-- <div class="media g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-20">
                            <img class="d-flex u-shadow-v25 g-width-50 g-height-50 rounded-circle g-mr-15"
                                src="assets/img-temp/100x100/img9.jpg" alt="Image Description">
        
                            <div class="media-body">
                                <div class="g-mb-15">
                                    <h5
                                        class="d-flex justify-content-between align-items-center g-font-size-16 g-color-gray-dark-v1 mb-0">
                                        <span class="d-block g-mr-10">James Coolman</span>
                                        <a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15"
                                            href="#!">Author</a>
                                    </h5>
                                    <span class="g-color-gray-dark-v4 g-font-size-12">2 days ago</span>
                                </div>
        
                                <div class="g-mb-15">
                                    <p class="g-color-gray-dark-v2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                        scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                        viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                        felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                </div>
        
                                <ul class="list-inline d-sm-flex my-0">
                                    <li class="list-inline-item g-mr-20">
                                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                            <i class="icon-like g-pos-rel g-top-1 g-mr-3"></i> 214
                                        </a>
                                    </li>
                                    <li class="list-inline-item g-mr-20">
                                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                            <i class="icon-dislike g-pos-rel g-top-1 g-mr-3"></i> 35
                                        </a>
                                    </li>
                                    <li class="list-inline-item ml-auto">
                                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                            <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i> Reply
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                <!-- End Comment 1 -->



                <!-- <div class="text-center g-mt-30">
                            <a class="btn u-btn-outline-primary g-font-size-12 text-uppercase g-px-25 g-py-13" href="#!">
                                <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-2"></i> Load More
                                Comments
                            </a>
                        </div> -->
            </div>
            <!-- Comments -->

            <!-- Add Comment -->
            <div class="g-mb-60">
                <div class="u-heading-v3-1 g-mb-30">
                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Add a
                        Comment
                    </h2>
                </div>

                <form>
                    <div class="row">
                        <div class="col-md-6 form-group g-mb-30">
                            <input
                                class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-pa-15"
                                type="text" placeholder="Your Name">
                        </div>

                        <div class="col-md-6 form-group g-mb-30">
                            <input
                                class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-pa-15"
                                type="email" placeholder="Email">
                        </div>
                    </div>

                    <div class="g-mb-30">
                        <textarea
                            class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-pa-15"
                            rows="12" placeholder="Your Message"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment">
                        <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-2"></i> Add a
                        Comment
                    </button>
                </form>
            </div>
            <!-- End Add Comment -->
            </article>
        </div>
    </div>
</div>
<!-- popups -->
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="commentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentLabel">Oops! Cannot add comment</h5>
            </div>
            <div class="modal-body">
                Development in progress, stay tuned.
            </div>
            <div class="modal-footer">
                <div class="modal-footer">
                    <a class="btn u-shadow-v33 g-color-white g-color-white--hover g-bg-primary g-bg-main--hover g-rounded-30 g-px-25 g-py-10"
                      href="#" data-dismiss="modal">OK</a>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- endpopups -->
{% endblock %}