{% extends 'web/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<section id="team" class="g-py-30 g-pb-80--md">
    <div class="u-bg-overlay g-theme-bg-gray-dark-v1-opacity-0_95--after g-pt-30 g-pt-80--md g-pb-250" style="background-image: url(/assets/img/map-image.png);">
      <div class="container text-center u-bg-overlay__inner g-max-width-770">
        <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
          <h1 class="g-font-weight-700 g-font-size-20 g-color-primary g-mb-20">Our team</h1>
          <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md mb-0">Work with professionals</h2>
        </div>

        <h3 class="mb-0 g-font-size-16">Greater Connection Greater Effiency.</h3>
      </div>
    </div>

    <div class="container g-mt-minus-200">
      <!-- Team Block -->
      <div class="row">
        {% for member in members %}
        {% if forloop.counter < 5 %}
        <div class="col-sm-4 mb-20">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                {% if member.image %}
                <img src="{{member.image.url}}" alt="Avatar" style="width:300px;height:300px;">
                {% endif %}
              </div>
              <div class="flip-card-back">
                <h1>{{ member.first_name }} {{ member.last_name }}</h1> 
                <p style="color: white;">{{ member.position }}</p> 
                <p style="color: white;">{{ member.text }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div><br>
      <!-- End Team Block -->
    </div>
  </section>

  {% endblock %}