{% extends 'web/base.html' %}
{% load static %}
{% load i18n bootstrap4 tz %}

{% block content %}
<script type="text/javascript" src="//highlightjs.org/static/highlight.pack.js"></script>
<div class="container">
    <!-- Upcoming Events -->
    <div class="row">
        <div class="col-sm-12">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">
                    {% trans 'Upcoming Events' %}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {% for event in events %}
        <div class="col-sm-4" style="margin-bottom:30px;">
            <div class="event-card">
                <section class="event-body">
                    <a tabindex="-1" href="{% url 'event_detail' event.id %}">
                        <div class="image-wrapper">
                            <img class="list-thumbnail" src="{{event.banner.url}}"
                                onerror="this.src='/static/img/bg.jpg'" alt="{{event.title}}">
                        </div>
                    </a>
                    <main class="main-body">
                        <a tabindex="0" href="{% url 'event_detail' event.id %}">
                            <div class="event-title">
                                <h4><b>{{event.title}}</b></h4>
                            </div>
                        </a>
                        <div class="event-venue">
                            <a class="d-inline-block u-link-v5 g-color-text-light-v1 g-color-primary--hover"
                                href="{% url 'event_venue' event.venue.id %}">
                                <i class="align-middle g-color-primary mr-2 icon-real-estate-027 u-line-icon-pro"></i>
                                {{ event.venue.title }}
                            </a>
                        </div>
                    </main>
                </section>
            </div>
        </div>
        {% empty %}
        <!-- <div class='row'> -->
        <strong>No Events.</strong>
        <!-- </div> -->
        {% endfor %}
    </div>

    <!-- End Upcoming Events -->

    <!-- Past Events -->
    {%if past_events %}
    <div class="row">
        <div class="col-sm-12">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">
                    {% trans 'Past Events' %}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {% for event in past_events %}
        <div class="col-sm-4" style="margin-bottom:30px;">
            <div class="event-card">
                <section class="event-body">
                    <a tabindex="-1" href="{% url 'event_detail' event.id %}">
                        <div class="image-wrapper">
                            <img class="list-thumbnail" src="{{event.banner.url}}"
                                onerror="this.src='/static/img/bg.jpg'" alt="{{event.title}}">
                        </div>
                    </a>
                    <main class="main-body">
                        <a tabindex="0" href="{% url 'event_detail' event.id %}">
                            <div class="event-title">
                                <h4><b>{{event.title}}</b></h4>
                            </div>
                        </a>
                        <div class="event-venue">
                            <p class="text-muted text-left"><a
                                    class="d-inline-block u-link-v5 g-color-text-light-v1 g-color-primary--hover"
                                    href="{% url 'event_venue' event.venue.id %}">
                                    <i
                                        class="align-middle g-color-primary mr-2 icon-real-estate-027 u-line-icon-pro"></i>
                                    {{ event.venue.title }}
                                </a></p>
                        </div>
                    </main>
                </section>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- End Past Events -->
</div>
{% endblock content %}

{% comment %} {% if user.is_superuser %}
{% if user == event.creator %}
<a class="btn btn-secondary" href="{% url 'update_event' event.id %}" role="button">{% trans 'Update' %}</a>
<a class="btn btn-danger" href="{% url 'delete_event' event.id %}" role="button">{% trans 'Delete' %}</a>
{% endif %}
{% endif %} {% endcomment %}