.icon-logo {
    width: 100% !important;
}

.junkiri_post_image {
    max-height: 193px;
}

.junkiri_logo{
    max-width: 300px;
   
}

.bg-grey{
    background-color:#F4F7F5;  
}

.bg-blue{
     background-color:#26304d;  
}
.mt{
    margin-top: 80px;
}

.height-100{
    max-height: 100px;
}

.height-320{
    max-height: 320px;
    min-height: 320px;
}

.btn-dashed {
    /* color: #fd9233;
    border-color: #fd9233; */
    border: 2px dashed;
  
 }

 .junkiri_index{
    max-width: 150px;
    margin-top: 30px;
 }