{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
        <!-- <div style='text-align: center;'>
                <img class="junkiri_logo" src="{% static 'assets/img/logo/junkiri-logo.jpg' %}">
        </div> -->
        <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Create Event</h2>
        </div>
        <form action='{% url "junkiri_create" %}' method="post" enctype='multipart/form-data'>{% csrf_token %}
                <div class="row">
                        <div class="col-sm-12">{% bootstrap_field form.banner %}</div>

                </div>
                <div class="row">
                        <div class="col-sm-3">{% bootstrap_field form.event_title %}</div>
                        <div class="col-sm-3"> {% bootstrap_field form.co_ordinated_by %}</div>
                        <div class="col-sm-3">{% bootstrap_field form.event_dt %}</div>
                        <div class="col-sm-3">{% bootstrap_field form.event_end_dt %}</div>
                </div>
                <div class="row">
                        <div class="col-sm-12">
                                {% bootstrap_field form.discription %}
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-6">{% bootstrap_field form.ended %}
                                {% bootstrap_field form.is_upcoming %} {% bootstrap_field form.is_ongoing %}</div>
                </div>
                <div class="row">
                        <div class="col-sm-6">
                                {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
                        </div>
                </div>

        </form><br>
</div>
{% endblock %}