{% load static %}
{% load bootstrap4 %}
<!-- Carousel Slider -->

<div id="myCarousel" class="carousel slide">

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets\img\bg.jpg' %}" alt="BG" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets\img\bg.jpg' %}" alt="BG" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets\img\bg.jpg' %}" alt="BG" width="1100" height="200">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- End Carousel Slider -->


<!-- Events -->
<div class="g-bg-secondary">
  <div class="container g-py-100">
    <!-- Heading -->    
          <div class="text-uppercase text-center u-heading-v2-4--bottom g-brd-primary">
            <h4 class="g-line-height-1 g-font-weight-700 g-font-size-18 g-color-primary g-mb-20">Events</h4>
            <h2 class="u-heading-v2__title g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1">
              Check out upcomming events.</h2>
          </div>

    <!-- End Heading -->

    <!-- More Events List -->
    <ul class="list-unstyled g-mb-60">
      {% for event in events %}
      <!-- Events Item -->
      <li class="u-block-hover u-shadow-v37--hover g-bg-secondary-dark-v1 g-bg-white--hover rounded g-px-50 g-py-30 mb-4">
        <div class="row align-items-lg-center">
          <div class="col-md-3 col-lg-2 g-mb-30 g-mb-0--lg">
            <div class="d-flex align-items-center mb-3">
              <span class="g-color-primary g-font-weight-500 g-font-size-50 g-line-height-1 mr-3">{{event.event_dt|date:'d'}}</span>
              <div class="g-color-text-light-v1 text-center g-line-height-1_4">
                <span class="d-block">{{event.event_dt|date:'M'}}</span>
                <span class="d-block">{{event.event_dt|date:'Y'}}</span>
              </div>
            </div>
            <span class="d-block g-color-text-light-v1">6.00pm - 7.15pm</span>
          </div>
          <div class="col-md-9 col-lg-8 g-mb-30 g-mb-0--lg">
            <h3 class="h5 g-font-primary g-font-weight-500 mb-1">{{event.event_title}}</h3>
            <p>{{event.discription|truncatechars:200}}</p>
            <a class="d-inline-block u-link-v5 g-color-text-light-v1 g-color-primary--hover" href="#">
              <i class="align-middle g-color-primary mr-2 icon-real-estate-027 u-line-icon-pro"></i>
              New Zenith School
            </a>
          </div>
          <div class="col-lg-2">
            <a class="btn btn-block g-brd-2 g-brd-main-opacity-0_1 g-brd-primary--hover g-color-primary g-color-white--hover g-bg-primary--hover g-rounded-30 g-py-10" href="#">Register now</a>
          </div>
        </div>
        <a class="u-link-v2" href="#"></a>
      </li>
      <!-- End Events Item -->
      {% endfor %}
    </ul>
    <!-- End More Events List -->

    <div class="text-center">
      <a class="btn u-shadow-v33 g-color-white g-color-white--hover g-bg-primary g-bg-main--hover g-rounded-30 g-px-25 g-py-10" href="{% url 'event' %}">View all Events</a>
    </div>
  </div>
</div>

<!-- End Events -->


<!-- junkiri -->

<!-- End junkiri -->

<div class="g-pos-rel g-pb-100 g-pb-0--md">
  <div class="container">
      <div class="text-center">
          <img class="junkiri_index" src="{% static 'assets/img/logo/junkiri.png' %}">
        </div>
    <div class="row">
     <div class="col-md-7"> <p>As a University of Unify graduate, you have access to a wide range of resources, mentoring opportunities,
        events and support to help you continue your passion for learning.</p> <p>As a University of Unify graduate, you have access to a wide range of resources, mentoring opportunities,
            events and support to help you continue your passion for learning.</p> <p>As a University of Unify graduate, you have access to a wide range of resources, mentoring opportunities,
                events and support to help you continue your passion for learning.</p></div>


      <div class="col-md-5">
        <div class="g-pl-15--md">
          <div class="mb-5">
            <div class="mb-4">
              <span class="u-icon-v3 u-icon-size--lg g-color-main g-bg-secondary rounded-circle mb-4">
                <i class="material-icons">verified_user</i>
              </span>
              <h2 class="mb-3">Alumni Benefits and Awards</h2>
              <p>You may be surprised to discover what alumni benefits are on offer as a Unify graduate, including an
                alumni magazine, career resources, library membership, and more.</p>
            </div>
            <p>As a University of Unify graduate, you have access to a wide range of resources, mentoring opportunities,
              events and support to help you continue your passion for learning.</p>
          </div>
          <a class="btn u-shadow-v39 g-brd-main g-brd-primary--hover g-color-main g-color-white--hover g-bg-primary--hover g-font-size-default g-rounded-30 g-px-35 g-py-11"
            href="#">Read More</a>
        </div>
      </div>
    </div>

   
  </div>
</div>