{% load static %}
{% load bootstrap4 %}
<!-- Carousel Slider -->

<div id="myCarousel" class="carousel slide">

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets\img\bg.jpg' %}" alt="BG" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets\img\bg.jpg' %}" alt="BG" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets\img\bg.jpg' %}" alt="BG" width="1100" height="200">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- End Carousel Slider -->


<!-- Events -->
<div class="container g-pt-50 g-pb-70">
  <h2 class="g-mb-40">Key Events</h2>

  <div class="row">
    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Event Block -->
      <article class="u-block-hover u-shadow-v38">
        <div class="g-min-height-300 g-bg-img-hero g-bg-cover g-bg-white-gradient-opacity-v1--after g-pos-rel"
          style="background-image: url(assets/img-temp/400x500/img11.jpg);">
          <div class="g-pos-abs g-bottom-0 g-left-0 g-right-0 g-z-index-1 g-pa-20">
            <div class="d-flex justify-content-between">
              <div class="mt-auto mb-2">
                <span class="d-block g-color-white g-line-height-1_4">9:00 am</span>
                <span class="d-block g-color-white g-line-height-1_4">12:00 pm</span>
              </div>
              <div class="text-center">
                <span class="g-color-white g-font-weight-500 g-font-size-40 g-line-height-0_7">24</span>
                <span class="g-color-white g-line-height-0_7">Nov</span>
              </div>
            </div>
          </div>
        </div>

        <div class="g-pa-25">
          <h3 class="g-color-primary--hover g-font-size-18 mb-0">Core Research Facilities, Annual Symposium</h3>
        </div>

        <a class="u-link-v2 g-z-index-2" href="#"></a>
      </article>
      <!-- End Event Block -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Event Block -->
      <article class="u-block-hover u-shadow-v38">
        <div class="g-min-height-300 g-bg-img-hero g-bg-cover g-bg-white-gradient-opacity-v1--after g-pos-rel"
          style="background-image: url(assets/img-temp/400x500/img12.jpg);">
          <div class="g-pos-abs g-bottom-0 g-left-0 g-right-0 g-z-index-1 g-pa-20">
            <div class="d-flex justify-content-between">
              <div class="mt-auto mb-2">
                <span class="d-block g-color-white g-line-height-1_4">12:15 pm</span>
                <span class="d-block g-color-white g-line-height-1_4">12:45 pm</span>
              </div>
              <div class="text-center">
                <span class="g-color-white g-font-weight-500 g-font-size-40 g-line-height-0_7">07</span>
                <span class="g-color-white g-line-height-0_7">Dec</span>
              </div>
            </div>
          </div>
        </div>

        <div class="g-pa-25">
          <h3 class="g-color-primary--hover g-font-size-18 mb-0">Ontario Ideas - Digital Rights: what are they, and why
            do we need them?</h3>
        </div>

        <a class="u-link-v2 g-z-index-2" href="#"></a>
      </article>
      <!-- End Event Block -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Event Block -->
      <article class="u-block-hover u-shadow-v38">
        <div class="g-min-height-300 g-bg-img-hero g-bg-cover g-bg-white-gradient-opacity-v1--after g-pos-rel"
          style="background-image: url(assets/img-temp/400x500/img13.jpg);">
          <div class="g-pos-abs g-bottom-0 g-left-0 g-right-0 g-z-index-1 g-pa-20">
            <div class="d-flex justify-content-between">
              <div class="mt-auto mb-2">
                <span class="d-block g-color-white g-line-height-1_4">03:00 pm</span>
                <span class="d-block g-color-white g-line-height-1_4">05:00 pm</span>
              </div>
              <div class="text-center">
                <span class="g-color-white g-font-weight-500 g-font-size-40 g-line-height-0_7">19</span>
                <span class="g-color-white g-line-height-0_7">Jan</span>
              </div>
            </div>
          </div>
        </div>

        <div class="g-pa-25">
          <h3 class="g-color-primary--hover g-font-size-18 mb-0">USEAC Masterclass</h3>
        </div>

        <a class="u-link-v2 g-z-index-2" href="#"></a>
      </article>
      <!-- End Event Block -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Event Block -->
      <article class="u-block-hover u-shadow-v38">
        <div class="g-min-height-300 g-bg-img-hero g-bg-cover g-bg-white-gradient-opacity-v1--after g-pos-rel"
          style="background-image: url(assets/img-temp/400x500/img14.jpg);">
          <div class="g-pos-abs g-bottom-0 g-left-0 g-right-0 g-z-index-1 g-pa-20">
            <div class="d-flex justify-content-between">
              <div class="mt-auto mb-2">
                <span class="d-block g-color-white g-line-height-1_4">11:30 am</span>
                <span class="d-block g-color-white g-line-height-1_4">1:00 pm</span>
              </div>
              <div class="text-center">
                <span class="g-color-white g-font-weight-500 g-font-size-40 g-line-height-0_7">20</span>
                <span class="g-color-white g-line-height-0_7">Jan</span>
              </div>
            </div>
          </div>
        </div>

        <div class="g-pa-25">
          <h3 class="g-color-primary--hover g-font-size-18 mb-0">2017 Unify College of the Arts Undergraduate Degree
            Show</h3>
        </div>

        <a class="u-link-v2 g-z-index-2" href="#"></a>
      </article>
      <!-- End Event Block -->
    </div>
  </div>
</div>
<!-- End Events -->


<!-- junkiri -->
{% include 'junkiri.html' %}
<!-- End junkiri -->